@import 'variables';
footer{
    font-family: $secondary-font;
    position: absolute; bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    p{
        color: black;
    }
    ul{
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        justify-content: space-between;
    }
}
@media (max-width:430px){
    footer{
        justify-content: center;
        p{
            font-size: 14px;
        }
        nav{
            width: 100%;
            padding: 16px 45px;
            ul{
                img{
                    width: 16px;
                }
            }
        }
    }
}
@media (min-width:431px){
    footer{
        padding: 16px 0;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 16px;
            margin-left: 6.9%;
        }
        nav{
            width: calc(314px + 18px - 100px);
            margin-right: 6.9%;
            ul{
                img{
                    width: 18px;
                }
            }
        }
    }
}