@import "variables";
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px){
    [type="checkbox"]{
        display: none;
    }
    header{
        width: 100%;
        height: 44px;

        ul{
            display: none;
        }

        img{
            width: 7.5%;
            margin-left: 5%;
            max-width: 24px;
        }
        div{
            display: flex; flex-flow: row wrap;
            width: 7.5%;
            height: 7.5vw;
            max-height: 24px; max-width: 24px;
            margin-right: 5%; align-items: center;

            #menu-unactive{
                width: 100%;
            }
            #menu-active{
                width: 100%;
                display:none;
            }
        }
    }
    [type="checkbox"]:checked ~ header div label #menu-unactive{
        display: none;
    }
    [type="checkbox"]:checked ~ header div label #menu-active{
        display: block;
    }
    #menu{
        display: none;
        z-index: 2;
        ul{
            background-color: $secondary-color;
            li{
                display: flex; flex-flow: row wrap;
                height: 56px; margin-left: 16px;
                align-items: center;
                color: white;
                font-size: 16px;
            }
        }
    }
    [type="checkbox"]:checked ~ #menu{
        display: block;
    }
}
