*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@import 'header';
@import 'title';
@import 'episodios';
@import 'phone';
@import 'nosotros';
@import 'entrevistas';
@import 'topicos';
@import 'final';
@import 'footer';


