@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background-color: white;
  overflow: hidden;
}

[type="checkbox"] {
  display: none;
}

#menu {
  display: none;
  width: 100%;
  z-index: 2;
  position: fixed;
}

#menu ul {
  background-color: #0000EC;
  list-style: none;
}

#menu ul a {
  text-decoration: none;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  color: white;
}

#menu ul a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 56px;
  margin-left: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu ul a:hover {
  text-decoration: line-through;
  color: #00F3BB;
}

#menu ul a:active {
  text-decoration: line-through;
  color: #060A24 56%;
}

@media (max-width: 900px) {
  header {
    height: 62px;
  }
}

@media (max-width: 900px) and (max-width: 430px) {
  header {
    height: 44px;
  }
}

@media (max-width: 900px) {
  header nav ul {
    display: none;
  }
  header a {
    width: 7.5%;
    margin-left: 5%;
    max-width: 24px;
  }
  header a img {
    width: 100%;
  }
  header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 7.5%;
    height: 7.5vw;
    max-height: 24px;
    max-width: 24px;
    margin-right: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div #menu-unactive {
    width: 100%;
  }
  header div #menu-active {
    width: 100%;
    display: none;
  }
  #menu {
    top: 62px;
  }
}

@media (max-width: 900px) and (max-width: 430px) {
  #menu {
    top: 44px;
  }
}

@media (max-width: 900px) {
  [type="checkbox"]:checked ~ header div label #menu-unactive {
    display: none;
  }
  [type="checkbox"]:checked ~ header div label #menu-active {
    display: block;
  }
  [type="checkbox"]:checked ~ #menu {
    display: block;
  }
}

@media (min-width: 901px) {
  header {
    height: 80px;
  }
  header a[href="#titulo"] {
    margin-left: 5%;
    width: 7.5%;
    max-width: 36px;
    max-height: 36px;
  }
  header a[href="#titulo"] img {
    width: 100%;
  }
  header nav {
    width: 40%;
    margin-right: 7%;
    max-width: 480px;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    list-style: none;
  }
  header nav ul a {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    text-decoration: none;
    color: #060A24;
  }
  header nav ul a:hover {
    text-decoration: line-through;
    color: #00F3BB;
  }
  header nav ul a:active {
    text-decoration: line-through;
    color: #060A24 56%;
  }
  header div {
    display: none;
  }
  #menu {
    display: none;
  }
}

main {
  width: 100%;
  max-width: 1440px;
  position: relative;
  top: 44px;
}

main h1 {
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 120px;
  margin-left: 13.9%;
  font-size: 64px;
  color: #060A24;
}

main h1 span {
  text-decoration: line-through;
}

main h1 #blue-dot {
  text-decoration: none;
}

main p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
}

main button {
  background-color: #00F3BB;
  border: 0px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

main button:hover {
  outline: none;
  color: white;
  background-image: linear-gradient(225deg, #0000EC 0%, #00F3BB 100%);
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

@media (max-width: 430px) {
  main h1 {
    margin: 29px 0 0 5%;
    font-size: 36px;
    width: 90%;
  }
  main p {
    font-size: 14px;
    margin-top: 16px;
    margin-left: 5%;
    width: 90%;
    line-height: 22px;
  }
  main button {
    width: 90%;
    margin: 36px 5% 24px 5%;
    height: 48px;
    outline: none;
  }
}

@media (min-width: 431px) {
  main h1 {
    margin-top: 200px;
    margin-left: calc((13.9% + 5%) / 2);
    font-size: 64px;
  }
}

@media (min-width: 431px) and (max-width: 900px) {
  main h1 {
    margin-top: 60px;
    font-size: 44px;
  }
}

@media (min-width: 431px) {
  main h1 br {
    display: none;
  }
  main h1 #blue-dot {
    color: #0000EC;
  }
  main p {
    margin-left: calc((13.9% + 5%) / 2);
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    width: 53%;
    max-width: 628px;
  }
}

@media (min-width: 431px) and (max-width: 900px) {
  main p {
    max-width: calc(0.45 * 900px);
  }
}

@media (min-width: 431px) {
  main button {
    width: 226px;
    height: 56px;
    margin-left: calc((13.9% + 5%) / 2);
    margin-top: 56px;
  }
}

main section[id="episodios"] {
  position: relative;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewy(-6deg);
          transform: skewy(-6deg);
  width: 100%;
}

main section[id="episodios"] div {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  width: 100%;
}

main section[id="episodios"] div h2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}

@media (max-width: 430px) {
  main section[id="episodios"] {
    padding-bottom: 143.5px;
  }
  main section[id="episodios"] h2 {
    font-size: 36px;
    padding-top: 48px;
    margin-bottom: 10px;
    margin-left: 5%;
  }
  main section[id="episodios"] div iframe {
    margin-top: 11px;
    margin-left: 3.5%;
    width: 93%;
    border: none;
    height: 232px;
  }
}

@media (min-width: 431px) {
  main section[id="episodios"] {
    margin-top: calc(( 0.05255 * 100vw ));
    padding-top: calc(( 0.05255 * 100vw ));
    overflow: hidden;
  }
  main section[id="episodios"] div {
    width: 100%;
    margin-left: 4.4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-bottom: calc(14vw - ( 0.05255 * 100vw ));
  }
  main section[id="episodios"] div h2 {
    margin-top: 2vw;
    font-size: 48px;
    margin-left: 9.5%;
    margin-right: 70%;
  }
}

@media (min-width: 431px) and (max-width: 900px) {
  main section[id="episodios"] div h2 {
    font-size: 36px;
  }
}

@media (min-width: 431px) {
  main section[id="episodios"] div iframe {
    width: 40.6%;
    height: 232px;
    max-width: 584px;
    margin: 18px 2.5%;
    border: none;
  }
}

@media (max-width: 430px) {
  main #phone {
    position: relative;
    width: 100%;
    margin-top: calc(48px - 143.5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #phone img {
    width: 112.5%;
    overflow: hidden;
  }
}

@media (min-width: 430px) {
  main #phone {
    position: relative;
    margin-left: 13.9%;
    width: 31.8%;
    height: calc((1038 / 640) * 31.8vw);
    max-width: calc((640 / 1038) * 660px);
    max-height: 660px;
    margin-top: calc(48px - 10vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  main #phone {
    margin-top: calc(24px - 10vw);
    margin-left: 5%;
    width: 45%;
    height: calc((1038 / 640) * 45vw);
  }
}

@media (min-width: 430px) {
  main #phone img {
    width: 100%;
    height: 100%;
  }
}

main section[id="nosotros"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main section[id="nosotros"] div h2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 36px;
}

main section[id="nosotros"] div p {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  text-align: left;
}

@media (max-width: 430px) {
  main section[id="nosotros"] div {
    margin-left: 5%;
    margin-top: 27px;
    width: 90%;
  }
  main section[id="nosotros"] div h2 {
    font-size: 36px;
  }
  main section[id="nosotros"] div p {
    margin-top: 24px;
    margin-left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: 430px) {
  main section[id="nosotros"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section[id="nosotros"] div {
    margin-left: 4.3%;
    margin-top: 27px;
    width: 32.2%;
  }
  main section[id="nosotros"] div h2 {
    width: 100%;
    font-size: 48px;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  main section[id="nosotros"] div h2 {
    font-size: 36px;
  }
}

@media (min-width: 430px) {
  main section[id="nosotros"] div p {
    margin-top: 24px;
    margin-left: 0;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  main section[id="nosotros"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section[id="nosotros"] div h2 {
    margin-bottom: 12px;
    font-size: 48px;
  }
  main section[id="nosotros"] div p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 430px) {
  main section[id="entrevistas"] h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 36px;
    width: 90%;
    margin: 54px 5% 8px 5%;
  }
  main section[id="entrevistas"] div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  main section[id="entrevistas"] div img {
    width: 100%;
  }
}

@media (min-width: 431px) and (max-width: 900px) {
  main section[id="entrevistas"] h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 36px;
    margin: 54px 0 8px calc((13.9% + 5%) / 2);
  }
  main section[id="entrevistas"] div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main section[id="entrevistas"] div img {
    width: 50%;
  }
}

@media (min-width: 900px) {
  main section[id="entrevistas"] h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 48px;
    margin: 54px 0 36px 13.9%;
  }
  main section[id="entrevistas"] div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main section[id="entrevistas"] div img {
    width: calc(100% / 3);
  }
}

main section[id="topicos"] h2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
}

main section[id="topicos"] div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section[id="topicos"] div article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main section[id="topicos"] div article h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 430px) {
  main section[id="topicos"] {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 58px;
  }
  main section[id="topicos"] h2 {
    margin-top: 48px;
    font-size: 36px;
  }
  main section[id="topicos"] div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main section[id="topicos"] div article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 37px;
    padding-bottom: 12px;
  }
  main section[id="topicos"] div article img {
    width: 104px;
    height: 104px;
    margin-bottom: 13px;
  }
  main section[id="topicos"] div article h3 {
    font-size: 24px;
    text-align: center;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  main section[id="topicos"] {
    margin-left: 5%;
    width: 90%;
    margin-bottom: calc(34px + ( 0.05255 * 100vw ));
  }
  main section[id="topicos"] h2 {
    margin-top: 48px;
    font-size: 36px;
  }
  main section[id="topicos"] div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main section[id="topicos"] div article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    padding-top: 37px;
    padding-bottom: 12px;
  }
  main section[id="topicos"] div article img {
    width: 104px;
    height: 104px;
    margin-bottom: 13px;
  }
  main section[id="topicos"] div article h3 {
    font-size: 24px;
    text-align: center;
    width: 60%;
  }
}

@media (min-width: 900px) {
  main section[id="topicos"] {
    margin-left: 13.9%;
    width: 72.2%;
    margin-bottom: calc(34px + ( 0.05255 * 100vw ));
  }
  main section[id="topicos"] h2 {
    margin-top: 64px;
    font-size: 48px;
  }
  main section[id="topicos"] div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 56px;
  }
  main section[id="topicos"] div article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    padding-top: 37px;
    padding-bottom: 12px;
  }
  main section[id="topicos"] div article img {
    width: 104px;
    height: 104px;
    margin-bottom: 13px;
  }
  main section[id="topicos"] div article h3 {
    font-size: 24px;
    text-align: center;
  }
}

main div[id="final"] {
  padding-top: calc((0.05255 * 100vw));
  overflow: hidden;
}

main div[id="final"] div[id="final-i"] {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewy(-6deg);
          transform: skewy(-6deg);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main div[id="final"] div[id="final-i"] h2 {
  -webkit-transform: skewy(6deg);
          transform: skewy(6deg);
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}

main div[id="final"] div[id="final-i"] button {
  -webkit-transform: skewy(6deg);
          transform: skewy(6deg);
  outline: none;
}

main div[id="final"] div[id="final-i"] button:hover {
  color: white;
  background-image: linear-gradient(225deg, #0000EC 0%, #00F3BB 100%);
  -webkit-transform: skewy(6deg) scale(0.99);
          transform: skewy(6deg) scale(0.99);
  outline: none;
}

@media (max-width: 430px) {
  main div[id="final"] {
    height: calc((0.1051 * 100vw) + 32px + 126px + 36px + 48px + 110px);
  }
  main div[id="final"] div[id="final-i"] h2 {
    padding-top: calc((0.05255 * 100vw) + 32px);
    width: 70%;
    margin: 0 15%;
    font-size: 36px;
    line-height: 42px;
  }
  main div[id="final"] div[id="final-i"] button {
    width: 90%;
    height: 48px;
    margin: 36px 5% calc((0.05255 * 100vw) + 110px) 5%;
  }
}

@media (min-width: 430px) {
  main div[id="final"] {
    height: calc((0.1051 * 100vw) + 218px + 10.5vw);
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  main div[id="final"] {
    height: calc((0.1051 * 100vw) + 198px + 10.5vw);
  }
}

@media (min-width: 430px) {
  main div[id="final"] div[id="final-i"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main div[id="final"] div[id="final-i"] h2 {
    padding-top: calc((0.05255 * 100vw) + 64px);
    font-size: 48px;
    line-height: 62px;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  main div[id="final"] div[id="final-i"] h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (min-width: 430px) {
  main div[id="final"] div[id="final-i"] button {
    width: 24%;
    margin: 36px 0 calc((0.1051 * 100vw) + 10.5vw) 0;
    height: 48px;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  main div[id="final"] div[id="final-i"] button {
    width: 35%;
  }
}

footer {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: white;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer p {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav ul a {
  text-decoration: none;
}

@media (max-width: 900px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    padding-top: 24px;
    font-size: 14px;
    line-height: 22px;
  }
  footer nav {
    margin-top: 16px;
    width: 72%;
    padding-bottom: 31px;
    max-width: calc(0.72 * 430px);
  }
  footer nav ul li {
    width: 16px;
    height: 28px;
  }
}

@media (min-width: 900px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 36px;
    padding-bottom: 31px;
  }
  footer p {
    margin-left: 6.9%;
    font-size: 16px;
    line-height: 28px;
  }
  footer nav {
    width: 30%;
    margin-right: 6.9%;
    max-width: 232px;
    max-width: calc(0.72 * 430px);
  }
  footer nav ul li {
    width: 18px;
    height: 28px;
  }
}
/*# sourceMappingURL=style.css.map */