footer{
    bottom: 0;
    font-family: $secondary-font;
    background-color: white;
    padding-top: 24px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    p{
        color: $primary-color;
    }
    nav{
        ul{
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            justify-content: space-between;
        }
    }
}

