@media (max-width:$tablet-w){
    footer{
        flex-flow: column;
        align-items: center;
        p{
            font-size: 14px;
        }
        nav{
            width: 100%;
            padding: 16px 45px;
            max-width: $mobile-w;
            ul{
                img{
                    width: 16px;
                }
            }
        }
    }
}

@media (min-width:calc($tablet-w + 1px)){
    footer{
        padding: 16px 0;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 16px;
            margin-left: 6.9%;
        }
        nav{
            width: calc(314px + 18px - 100px);
            margin-right: 6.9%;
            ul{ 
                width: 40%;
                    
                img{
                    width: 18px;
                }
            }
        }
    }
}