main{
    width: 100%;
    max-width: 1440px;
    position: relative;
    top: 44px; 
    h1{
        font-family: $primary-font;
        margin-top: 120px;
        margin-left: 13.9%;
        font-size: 64px;
        color: $primary-color;
        span{
            text-decoration: line-through;
        }
        #blue-dot{
            text-decoration: none;
        }
    }
    p{
        font-family: $secondary-font;
        font-size: 14px; color: $primary-color;
    }
    button{
        background-color: $third-color;
        border: 0px;
        font-family: $secondary-font; font-size: 16px; font-weight: 600;
        outline: none;
        cursor:pointer;
    }
    button:hover{
        outline: none;
        color:white;
        background-image: linear-gradient(225deg,$secondary-color 0%,$third-color 100%);
        transform: scale(0.99);
    }
}
