header{
    display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;
    width: 100%; top: 0; left: 0; 
    position: fixed;  z-index: 3; background-color: white;
    overflow: hidden;
}
[type="checkbox"]{
    display: none;
}
#menu{
    display: none;
    top: 44px; width: 100%;
    z-index: 2;
    position: fixed;
    ul{
        background-color: $secondary-color;
        list-style: none;
        a{
            text-decoration: none;
            font-size: 16px; font-family: $secondary-font;
            color: white;
            li{
                display: flex; flex-flow: row wrap;
                height: 56px; margin-left: 16px;
                align-items: center;
            }
        }
        a:hover{
            text-decoration: line-through;
            color:$third-color;
        }
        a:active{
            text-decoration: line-through;
            color:$primary-color 56%;
        }
    }
}
