@import '../../variables';
@media (min-width:769px){
    header{
        height: 80px;
        a[href="#titulo"]{
            margin-left: 5%; width: 7.5%; 
            max-width: 36px; max-height: 36px;
            img{
                width: 100%;
            }
        }
        
        nav{
            width: 40%; margin-right: 7%; max-width: 480px;
            ul{
                display: flex; flex-flow: row nowrap;
                justify-content: space-between;
                width: 100%; list-style: none;
                a{
                    font-family: $secondary-font; font-size: 16px;
                    text-decoration: none; color: $primary-color;
                }
                a:hover{
                    text-decoration: line-through;
                    color:$third-color;
                }
                a:active{
                    text-decoration: line-through;
                    color:$primary-color 56%;
                }
            }
        }
        div{
            display: none; 
            
        }
    }
    #menu{
        display: none;
    }

}