@media(max-width:430px){
    main{
        h1{
            margin: 29px 25% 0 5%;
            font-size: 36px;
        }
        p{
            font-size: 14px;
            margin-top: 16px;
            margin-left: 5%;
            width: 90%;
        }
        button{
            width: 90%; margin: 36px 5% 24px 5%;
            outline: none;
        }
        button:hover{
            color:white;
            background-image: linear-gradient(225deg,$secondary-color 0%,$third-color 100%);
            transform: scale(0.99);
        }
    }
}