main{
    section[id="episodios"]{
        position: relative;
        background-image: linear-gradient(225deg, $fourth-color 0%, $fifth-color 100%);
        transform: skewy(-6deg); width: 100%;
        
        div{
            transform: skewY(6deg);
            width: 100%;
            h2{
                font-family: $primary-font; 
                color: white; font-weight: lighter;
            }    
        }
    }
}


