main{
    section[id="topicos"]{
        width: 90%;
        margin-left: 5%;
        padding-bottom: 58px;
        h1{
            font-family: $primary-font; font-size: 36px; color: $primary-color;
        }
        article{
            
            display: flex; flex-flow: column wrap;
            align-items: center;
            padding-top: 37px; padding-bottom: 12px;
            img{
                width: 104px;height: 104px;
                margin-bottom: 13px;
            }
            h2{
                font-family: $primary-font;
                font-size: 24px; text-align: center; 
            }
        }
    }
}