@media (max-width:430px){
    main{
        section[id="nosotros"]{
            h2{
                font-size: 36px;
                margin-left: 5%; margin-top: 27px; width: 90%;
            }
            p{
                font-size: 14px;
            }
        }
    }
}