@media (max-width:430px){
    main{
        section[id="entrevistas"]{
            h2{
                font-family: $primary-font; color: $primary-color; font-size: 36px;
                width:90%; margin: 54px 5% 8px 5%;
            }
            div{
                display: flex;
                flex-flow: column nowrap;
                img{
                    width: 100%;
                }
            }
            
        }
    }
}
@media (min-width:431px) and (max-width:1024px){
    main{
        section[id="entrevistas"]{
            h2{
                font-family: $primary-font; color: $primary-color; font-size: 36px;
                margin: 54px 0 8px calc((13.9% + 5%) / 2); font-weight: 300;
            }
            div{
                display: flex;
                flex-flow: row wrap;
                img{
                    width: 50%;
                }
            }
            
        }
    }
}