@import 'variables';
main{
    section[id="entrevistas"]{
        h1{
            font-family: $primary-font; color: $primary-color; font-size: 36px;
        }
        div{
            display: flex;
            flex-flow: column nowrap;
            img{
                width: 100%;
            }
        }
        
    }
}